*.user
*.log
*.tlog
*.db
*.exe
*.htm
*.dep
*.obj
*.iobj
*.ilk
*.pdb
*.ipdb
*.manifest
*manifest.res
*.lib
*.idb
*.ncb
*.suo
*.pch
*.ipch
*.res
*.rsp
*.cache
*.db-shm
*.db-wal
*.opendb
*.recipe
*FileListAbsolute.txt